# Port sur lequel le serveur Express va écouter
PORT=3002

# URL de connexion à MongoDB Atlas
# Remplace <username>, <password> et <cluster> par tes propres infos
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/checkpointDB?appName=Cluster0